.Categories
    display: flex
    padding: 0
    flex-wrap: wrap
    justify-content: center
    &-Link
        width: 200px
        height: 200px
        background-color: #F0F0F0
        margin: 8px
    &-Picture
        width: 175px