.Navigation
    background-color: #FAFAFA
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 138px
    position: fixed
    width: 100%
    z-index: 1
    top: 0 
    &-Links
        list-style: none
        padding: 0
        display: flex
        justify-content: space-between
    &-Link
        margin: 0 50px
    &-Text
        text-decoration: none
        font-weight: normal
        font-size: 14px
        line-height: 21px
        color: #121212
    &-Panel
        position: relative