.Navigation
    background-color: #FAFAFA
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 138px
    position: fixed
    width: 100%
    z-index: 1
    top: 0 
    height: 65px
    border-bottom: 1px solid #DEDEDE
    &-URLs
        width: 620px
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
    &-Buttons
        width: 280px
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
    &-Logo
        height: 34px
    &-Links
        list-style: none
        padding: 0
        display: flex
        justify-content: space-between
        align-items: center
        width: 520px
        height: 100%
    &-Text
        text-decoration: none
        font-weight: normal
        font-size: 14px
        line-height: 64px
        color: #121212
    &-Link
        width: 130px
        height: 100%
        text-align: center
        position: relative
    &-Panel
        width: 80px
        position: relative
        font-weight: normal
        font-size: 15px
        line-height: 17px
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        letter-spacing: 0.01em
        color: #121212
        height: 100%
    &-Link, &-Panel
        
        &::before
            content: ''
            display: block
            position: absolute
            width: 0%
            height: 2px
            background-color: #121212
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            transition: 0.6s ease all
        &:hover
            &::before
                width: 100%
