.ModalCart
    position: absolute
    z-index: 1
    width: 272px
    height: 254px
    background: #FAFAFA
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08)
    &-Item
        display: flex
        margin-bottom: 5px
    &-Picture
        height: 70px
        margin-right: 10px
    &-Description
        display: flex
        flex-direction: column
        justify-content: space-between
        border-bottom: 1px solid #DEDEDE
        width: 180px
        align-items: flex-start