.Ordering
    width: 370px
    height: 320px
    margin: 50px auto 0 auto
    &-Header
        text-align: center
        font-weight: normal
        font-size: 18px
        line-height: 27px
        color: #121212
    &-Picture
        display: block
        margin: 0 auto
        margin-top: 24px
    &-Subheader
        font-weight: 500
        font-size: 16px
        line-height: 24px
        color: #121212
        margin-top: 24px
        &_middle
            text-align: center
    &-Description
        font-weight: normal
        font-size: 12px
        line-height: 22px
        letter-spacing: 0.01em
        color: #121212
        margin-top: 6px
    &-Info
        margin-top: 20px
        display: flex
        justify-content: space-between
        align-items: center
    &-Number, &-Date
        font-weight: normal
        font-size: 12px
        line-height: 22px
        letter-spacing: 0.01em
        color: #6D6D6D
    &-Detail
        color: #121212
    &-Button
        width: 368px
        height: 46px
        border: 1px solid #121212
        display: block
        margin-top: 12px
        text-align: center
        font-weight: 500
        font-size: 16px
        line-height: 46px
        letter-spacing: 0.02em
        color: #121212
        text-decoration: none
        &_black
            background: #121212
            color: #FAFAFA